<h1>Sign up</h1>
<br>
<form method="POST" action="/signup">
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Sign Up">
</form>

