<h1>Sign up</h1>
<hr/>
<br>
<p style="color: #C71585"><b><%= @errors %></p></b>
<form method="POST" action="/signup">
    Username: <input type="text" name="user[username]"><br><br>
    Password: <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Sign Up">
</form>

