<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
</style>
</head>
<body>
<h1>Welcome back to your Bookshelf, <%= @user.username %>!</h1><br>

<h3 style="color: #4863A0"><i>What would you like to do today?</i><h3>

<h4><a href="/books">Look at my Bookshelf</a></h4>
<h4><a href="/books/new">Add a book to my Bookshelf</a></h4>
<h4><a href="/logout">Log out</a></h4>

</body>